.article {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 500px;
    border: 3px solid black;
    width: 400px;
    background-color: #FFCCEA;
    box-shadow: 40px 50px gray;
}

.img {
    object-fit: contain;
    width: 300px;
    height: 400px;
}

.centrar {
    display: flex;
    justify-content: center;
}

.section {
    flex-direction: column;
}