.CardItem {
    display: inline-block;
    margin: 50px;
    padding-left: 20px;
    border: 3px solid black;
    width: 200px;
}

.ItemImg {
    object-fit: contain;
    width: 150px;
    height: 200px;
}