.CardItem {
    display: inline-block;
    margin: 50px;
    padding-left: 20px;
    border: 3px solid black;
    width: 200px;
    background-color: #FFCCEA;
    box-shadow: 20px 15px gray;
}

.ItemImg {
    object-fit: contain;
    width: 150px;
    height: 200px;
    background-color: black;
    border: 2px solid pink;
}

.link {
    color: purple;
}

.link:hover {
    color: black;
}