.navbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.navbar{
    display: flex;
    background-color: #FFCCEA;
    width: 100vw;
    
}
.logo{
    margin-right: 500px;
    height: 150px;
    width: 190px;
}
.anclas{
    margin-top: 50px;
    
}

.ancla {
    margin-left: 500px;
}
.carro{
    margin-top: 50px;
}
.Nav{
    color: black;
    margin: 20px;
}
